<div class="d-flex flex-row justify-content-between align-items-center">
  <div><h1>List of practitioners</h1></div>
<div class="d-flex flex-row justify-content-between ">
  <form [formGroup]="filterForm" *ngIf="filterForm">
    <div class="d-flex flex-row  align-items-center margin-right" >
    <div class="d-flex flex-row margin-right">
      <div class="margin-right">Filter:</div>
      <div>
        <select formControlName="unassigned">
          <option *ngFor="let value of availableValues" [ngValue]="value">
            {{value}}
          </option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center margin-right">
      <div><input placeholder="Search by name" formControlName="name"/></div>
      <div class="margin-left"><bi name="search" id="search-bi" (click)="onSubmitForm()"></bi></div>
    </div>
  </div>
  </form>
</div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th sortable="name" (sort)="onSort($event)" scope="col">Name</th>
    <th sortable="address" (sort)="onSort($event)" scope="col">Address</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Organization </th>
    <th scope="col">Actions </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let practitioner of practitioners; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ practitioner.name }}
    </td>
    <td>
      {{ practitioner.address }}
    </td>
    <td>
      {{ practitioner.phone }}
    </td>
    <td>
      {{ practitioner.email }}
    </td>
    <td>
      <span *ngIf="practitioner.organization">{{ practitioner.organization?.name }}</span>
      <span *ngIf="!practitioner.organization">unassigned</span>

    </td>
    <td>
      <div class="d-flex flex-row">
        <bi name="card-text" (click)="onDetails(practitioner)" class="big "></bi>

        <bi name="pencil" (click)="onEdit(practitioner)" class="big "></bi>
        <bi name="trash" (click)="onDelete(practitioner)" class="big fill-red"></bi>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-outline-primary  margin-left" (click)="addPractitioner()"><div class="d-flex flex-row justify-content-start align-items-center"><div><bi name="plus" class="small-icon"></bi></div><div>Add new</div></div></button>
<div class="d-flex flex-column justify-content-center align-items-center ">
  <div class="d-flex flex-row mb-2">
    <div>Items per page:</div>
    <div>
  <select class="form-select form-select-sm small mx-2" (change)="onPageSizeChange()" [(ngModel)]="pageSize" >
    <option *ngFor="let size of availablePageSize" [ngValue]="size" name="pageSize">{{size}}</option>
  </select></div>
  </div>
  <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" (pageChange)="onPageChange($event)" [pageSize]="pageSize" [boundaryLinks]="true" ></ngb-pagination>
</div>



